openapi: 3.1.0
info:
  title: Doppler REST ActivityLogs Configs API
  description: Doppler REST API for managing workplaces, projects, environments, configs, secrets, service tokens, service accounts, dynamic secrets, integrations, syncs, webhooks, change requests, and audit logs. Uses Bearer token authentication. Endpoints derived from public Doppler documentation at https://docs.doppler.com/reference/api — best-effort, not exhaustive.
  version: '3'
  contact:
    name: Doppler
    url: https://www.doppler.com
  license:
    name: Proprietary
servers:
- url: https://api.doppler.com
  description: Doppler production API
security:
- BearerAuth: []
tags:
- name: Configs
paths:
  /v3/configs:
    get:
      tags:
      - Configs
      summary: List configs
      operationId: listConfigs
      parameters:
      - in: query
        name: project
        required: true
        schema:
          type: string
      - in: query
        name: environment
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: per_page
        schema:
          type: integer
      responses:
        '200':
          description: OK
    post:
      tags:
      - Configs
      summary: Create config
      operationId: createConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project:
                  type: string
                environment:
                  type: string
                name:
                  type: string
              required:
              - project
              - environment
              - name
      responses:
        '200':
          description: Created
  /v3/configs/config:
    get:
      tags:
      - Configs
      summary: Retrieve config
      operationId: getConfig
      parameters:
      - in: query
        name: project
        required: true
        schema:
          type: string
      - in: query
        name: config
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Configs
      summary: Delete config
      operationId: deleteConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project:
                  type: string
                config:
                  type: string
              required:
              - project
              - config
      responses:
        '200':
          description: Deleted
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Doppler API Token
