openapi: 3.1.0
info:
  title: Doppler REST ActivityLogs ServiceTokens API
  description: Doppler REST API for managing workplaces, projects, environments, configs, secrets, service tokens, service accounts, dynamic secrets, integrations, syncs, webhooks, change requests, and audit logs. Uses Bearer token authentication. Endpoints derived from public Doppler documentation at https://docs.doppler.com/reference/api — best-effort, not exhaustive.
  version: '3'
  contact:
    name: Doppler
    url: https://www.doppler.com
  license:
    name: Proprietary
servers:
- url: https://api.doppler.com
  description: Doppler production API
security:
- BearerAuth: []
tags:
- name: ServiceTokens
paths:
  /v3/configs/config/tokens:
    get:
      tags:
      - ServiceTokens
      summary: List service tokens
      operationId: listServiceTokens
      parameters:
      - in: query
        name: project
        required: true
        schema:
          type: string
      - in: query
        name: config
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    post:
      tags:
      - ServiceTokens
      summary: Create service token
      operationId: createServiceToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project:
                  type: string
                config:
                  type: string
                name:
                  type: string
                expire_at:
                  type: string
                  format: date-time
                access:
                  type: string
                  enum:
                  - read
                  - read/write
              required:
              - project
              - config
              - name
      responses:
        '200':
          description: Created
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Doppler API Token
