openapi: 3.1.0
info:
  title: Doppler REST ActivityLogs Secrets API
  description: Doppler REST API for managing workplaces, projects, environments, configs, secrets, service tokens, service accounts, dynamic secrets, integrations, syncs, webhooks, change requests, and audit logs. Uses Bearer token authentication. Endpoints derived from public Doppler documentation at https://docs.doppler.com/reference/api — best-effort, not exhaustive.
  version: '3'
  contact:
    name: Doppler
    url: https://www.doppler.com
  license:
    name: Proprietary
servers:
- url: https://api.doppler.com
  description: Doppler production API
security:
- BearerAuth: []
tags:
- name: Secrets
paths:
  /v3/configs/config/secrets:
    get:
      tags:
      - Secrets
      summary: List secrets
      operationId: listSecrets
      parameters:
      - in: query
        name: project
        required: true
        schema:
          type: string
      - in: query
        name: config
        required: true
        schema:
          type: string
      - in: query
        name: include_dynamic_secrets
        schema:
          type: boolean
          default: false
      - in: query
        name: dynamic_secrets_ttl_sec
        schema:
          type: integer
          default: 1800
      - in: query
        name: secrets
        schema:
          type: string
      - in: query
        name: include_managed_secrets
        schema:
          type: boolean
          default: true
      - in: header
        name: accepts
        schema:
          type: string
          enum:
          - application/json
          - text/plain
          default: application/json
      responses:
        '200':
          description: OK
    post:
      tags:
      - Secrets
      summary: Update secrets
      operationId: updateSecrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project:
                  type: string
                config:
                  type: string
                secrets:
                  type: object
                  additionalProperties:
                    type: string
              required:
              - project
              - config
              - secrets
      responses:
        '200':
          description: Updated
  /v3/configs/config/secret:
    get:
      tags:
      - Secrets
      summary: Retrieve a secret
      operationId: getSecret
      parameters:
      - in: query
        name: project
        required: true
        schema:
          type: string
      - in: query
        name: config
        required: true
        schema:
          type: string
      - in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /v3/configs/config/secrets/download:
    get:
      tags:
      - Secrets
      summary: Download secrets
      operationId: downloadSecrets
      parameters:
      - in: query
        name: project
        required: true
        schema:
          type: string
      - in: query
        name: config
        required: true
        schema:
          type: string
      - in: query
        name: format
        schema:
          type: string
          enum:
          - json
          - env
          - yaml
          - docker
          - dotnet-json
          default: json
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Doppler API Token
